.results-wrapper {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	overflow: auto;
	overflow-y: scroll;
	height: 100vh;
	margin: -8px;
	box-sizing: inherit;
}

.results-header-container {
	min-width: 80.5rem;
	height: calc(15rem + 3ex);
	top: 0;
	z-index: 1;
	isolation: isolate;
	position: sticky;
	box-shadow: 0 0 4px #00000024, 0 3px 4px #0000001f, 0 1px 5px #0003;
	background-color: #1f1b35;
}

.results-header {
	width: 80rem;
	color: white;
	padding: 1rem 0 2.25rem;
	user-select: none;
	margin: 0 auto;
}

.info {
	border-top: white 2px solid;
	border-bottom: white 1px solid;
	width: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0.5rem;
	min-height: 7rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
	margin-top: 1.5rem;
}

.info h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	font-weight: 500;
}

.info p {
	font-size: 0.875rem;
	margin: 0;
}

.date {
}

.location {
	white-space: nowrap;
}

.actions {
	text-align: start;
	margin-left: 9rem;
}

.actions svg {
	vertical-align: middle;
	overflow: hidden;
	fill: white;
	cursor: pointer;
}

.actions a,
.actions button {
	padding: 0;
	background: none;
	display: inline-block;
	margin-right: 1rem;
	border: none;
	width: 1.5rem;
	height: 1.5rem;
}

.back-button {
}

.tune-button {
}

.print-button {
}

.share-button {
}

.results-table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 80rem;
	margin: -3ex auto 0.75rem;
}

.results-table small {
	font-size: 0.75rem;
}

.result-table-header {
	top: 15rem;
	position: sticky;
	z-index: 1;
	color: white;
	height: 1.75rem;
}

.number-header {
	text-align: end;
	width: 2rem;
}

.team-header {
	text-align: start;
	width: 18rem;
}

.event-points-header {
}

.rank-header {
}

.rank-header div {
	margin-right: 0.4rem;
	text-align: end;
}

.team-points-header {
}

.hover {
	background-color: #eee;
}

.event-header {
	text-align: start;
	transform: rotate(-90deg);
	white-space: nowrap;
	padding-left: 0.75rem;
	position: sticky;
}

.number-header,
.team-number {
	padding-right: 0.5rem;
	text-align: end;
}

.team-number,
.team-name {
	cursor: pointer;
}

.event-points-header,
.event-points {
	width: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.number-header,
.team-header,
.event-points-header,
.rank-header,
.team-points-header {
	vertical-align: baseline;
}

.rank-header,
.team-points-header {
	width: 4rem;
}

.result-table-body {
}

.team:hover {
	background-color: #eeeeee;
}

.team {
	text-align: center;
	height: 2rem;
}

.team-number {
}

.team-name {
	text-align: start;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.team-location {
	margin: 0.375rem;
}

.team-rank {
}

.team-points {
}

.team-placing {
	padding: 0;
}

.team-placing div {
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
	line-height: 2rem;
}

.team-penalty {
	color: #0000008a;
}

.badge {
	border-radius: 2px;
	align-items: center;
	display: inline-flex;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	margin-left: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	color: white;
}

.badge-trial {
	background-color: #2196f3;
}

.badge-trialed {
	background-color: #f44336;
}

.badge-disqualified {
	background-color: #9920f5;
}

.badge-exhibition {
	background-color: #ffa229;
}

.badge-absent {
	background-color: #8a8a8a;
}

a {
	color: #15658c;
}
